.profile {
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  max-width: 600px;
}

.profile-head {
  display: flex;
}

/* .title-block {
  width: 100%;
} */

.title-line {
  display: flex;
  align-items: center;
}

.title {
  margin: 0;
  font-size: 32px;
}

.year {
  margin: 0 0 0 10px;
  font-size: 24px;
  line-height: 24px;
  font-weight: 600;
  position: relative;
  bottom: -2px;
}

.star-rating-block {
  display: flex;
}

.star {
  font-size: 30px;
}

.imdb-score {
  display: flex;
}

.score {
  font-size: 24px;
}

.out-of-ten {
  font-size: 12px;
}

.total-ratings {
  font-size: 12px;
}

.main-image {
  max-width: 400px;
}
